<p id="notice"><%= notice %></p>

<p>
  <b>id:</b>
  <%= params[:user_id] %>
  <%= params[:user_id].class %>
  <%= @queen.id %>
  <%= @queen.class %>
  <% if @queen.nil? %>
      blya
  <% else %>
      aeeeeeeeeeee
  <% end %>
</p>



