<h1>Listing queens</h1>

<table>
  <tr>
    <th>Uid</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Domain</th>
    <th>Sex</th>
    <th>Bdate</th>
    <th>City</th>
    <th>Country</th>
    <th>Photo</th>
    <th>Photo medium</th>
    <th>Photo big</th>
    <th>University name</th>
    <th>Faculty</th>
    <th>Faculty name</th>
    <th>Graduation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @queens.each do |queen| %>
  <tr>
    <td><%= queen.uid %></td>
    <td><%= queen.first_name %></td>
    <td><%= queen.last_name %></td>
    <td><%= queen.domain %></td>
    <td><%= queen.sex %></td>
    <td><%= queen.bdate %></td>
    <td><%= queen.city %></td>
    <td><%= queen.country %></td>
    <td><%= queen.photo %></td>
    <td><%= queen.photo_medium %></td>
    <td><%= queen.photo_big %></td>
    <td><%= queen.university_name %></td>
    <td><%= queen.faculty %></td>
    <td><%= queen.faculty_name %></td>
    <td><%= queen.graduation %></td>
    <td><%= link_to 'Show', queen %></td>
    <td><%= link_to 'Edit', edit_queen_path(queen) %></td>
    <td><%= link_to 'Destroy', queen, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Queen', new_queen_path %>
