<h1>Listing queens</h1>

<div class="feed_tab filter f_sex" sex="1">
  <div class="feed_tab1">
    <div class="feed_tab2">
      <div class="feed_tab3 feed_tab3_nav">
        <nobr>Королева</nobr>
      </div>
    </div>
  </div>
</div>

<div class="feed_tab_selected filter f_sex" sex="2">
  <div class="feed_tab1">
    <div class="feed_tab2">
      <div class="feed_tab3 feed_tab3_nav">
        <nobr>Король</nobr>
      </div>
    </div>
  </div>
</div>



<table class="queen_list rating_list">
  <% @queens.each_with_index do |queen, index| %>
      <tr queen="<%= queen._id %>">
        <td class="position">
          <%= index + 1 %>
        </td>
        <td id="rating_<%= queen._id %>">
          <%= queen.rating %>
        </td>
        <td class="photo">
          <%= ava_link queen, index==0 ? "photo_medium_rec" :"photo_rec" %>
        </td>
        <td class="name">
          <%= name_link queen %>
          <div class="button_blue vote">
            <button queen="<%= queen._id %>" class="vote_button rating_up" type="button">
              Поднять
            </button>
          </div>
          <div class="button_blue">
            <button queen="<%= queen._id %>" class="vote_button rating_down" type="button">
              Опустить
            </button>
          </div>
        </td>
      </tr>
  <% end %>
</table>