<div class="queen" queen="<%= @queen._id %>">
  <div class="narrow_column fl_l">
    <div class="avatar">
      <%= image_tag @queen.photo_big, :alt=>"#{@queen.first_name} #{@queen.last_name}" %>
    </div>
    <div style="cursor: default;" class="rate_line stage0">
      <div class="rating_<%= @queen._id %> rating rate_text"><%= @queen.rating %></div>
      <div>
        <div style="width: 0px;" class="rate_left fl_l"></div>
        <div style="width: 200px;" class="rate_right fl_r"></div>
      </div>
    </div>
    <div class="button_blue">
      <button queen="<%= @queen._id %>" class="vote_button rating_up" type="button">
        Поднять
      </button>
    </div>
    <div class="button_gray fl_r">
      <button queen="<%= @queen._id %>" class="vote_button rating_down" type="button">
        Опустить
      </button>
    </div>


  </div>
</div>