<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @queen.uid %>
</p>

<p>
  <b>First name:</b>
  <%= @queen.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @queen.last_name %>
</p>

<p>
  <b>Domain:</b>
  <%= @queen.domain %>
</p>

<p>
  <b>Sex:</b>
  <%= @queen.sex %>
</p>

<p>
  <b>Bdate:</b>
  <%= @queen.bdate %>
</p>

<p>
  <b>City:</b>
  <%= @queen.city %>
</p>

<p>
  <b>Country:</b>
  <%= @queen.country %>
</p>

<p>
  <b>Photo:</b>
  <%= @queen.photo %>
</p>

<p>
  <b>Photo medium:</b>
  <%= @queen.photo_medium %>
</p>

<p>
  <b>Photo big:</b>
  <%= @queen.photo_big %>
</p>

<p>
  <b>University name:</b>
  <%= @queen.university_name %>
</p>

<p>
  <b>Faculty:</b>
  <%= @queen.faculty %>
</p>

<p>
  <b>Faculty name:</b>
  <%= @queen.faculty_name %>
</p>

<p>
  <b>Graduation:</b>
  <%= @queen.graduation %>
</p>


<%= link_to 'Edit', edit_queen_path(@queen) %> |
<%= link_to 'Back', queens_path %>
