<div class="queen" queen="<%= @queen._id %>">
  <div class="narrow_column fl_l">
    <div class="avatar">
      <%= image_tag @queen.photo_big, :alt=>"#{@queen.first_name} #{@queen.last_name}" %>
    </div>
    <div style="cursor: default;" class="rate_line stage0">
  <div id="rating_<%= @queen._id %>" class="rating rate_text"><%= @queen.rating %></div>
  <div>
    <div style="width: 0px;" class="rate_left fl_l"></div>
    <div style="width: 200px;" class="rate_right fl_r"></div>
  </div>
</div>
    <div class="button_blue">
      <button queen="<%= @queen._id %>" class="vote_button rating_up" type="button">
        Поднять
      </button>
    </div>
    <div class="button_gray fl_r">
      <button queen="<%= @queen._id %>" class="vote_button rating_down" type="button">
        Опустить
      </button>
    </div>
    
        <div class="module achive_module">
      <a class="module_header" href="<%= url_for queen_achives_path(@queen) %>">
        <div class="header_top clear_fix">
          Ачивки
        </div>
        <div class="p_header_bottom">
          <span class="fl_r">Все</span>
          1 всего
        </div>
      </a>

      <div class="module_body clear_fix">
        <div class="achive_list module_body clear_fix">

          <div class="clear_fix miniblock">
            <div>TOP1 Кибернетика 2007</div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="wide_column fl_r">
    <h4>

      <div class="name">
        <%= "#{@queen.first_name} #{@queen.nickname} #{@queen.last_name}" %>
      </div>

    </h4>

    <div class="module position_module">
      <a class="module_header" href="<%= url_for queen_stats_path(@queen) %>">
        <div class="header_top clear_fix">
          <span class="right_link fl_r">детализация</span>
          Позиция
        </div>
      </a>

      <div class="position_list module_body clear_fix">

        <div class="clear_fix miniblock">
          <div class="label fl_l">Выпуск факультет:</div>
          <div class="labeled fl_l">1 - <a href=""><%= @queen.graduation %> <%= @queen.faculty_name %></a></div>
        </div>
        <div class="clear_fix miniblock">
          <div class="label fl_l">Выпуск университет:</div>
          <div class="labeled fl_l">63 - <a href=""><%= @queen.university_name %>'<%= @queen.graduation %></a></div>
        </div>
        <div class="clear_fix miniblock">
          <div class="label fl_l">Факультет:</div>
          <div class="labeled fl_l">34 - <a href=""><%= @queen.faculty_name %></a></div>
        </div>
        <div class="clear_fix miniblock">
          <div class="label fl_l">Университет:</div>
          <div class="labeled fl_l">63 - <a href=""><%= @queen.university_name %>'<%= @queen.graduation %></a></div>
        </div>
        <div class="clear_fix miniblock">
          <div class="label fl_l">Город:</div>
          <div class="labeled fl_l">452 - <a href=""><%= @queen.city_name %></a></div>
        </div>
        <div class="clear_fix miniblock">
          <div class="label fl_l">Страна:</div>
          <div class="labeled fl_l">25415 - <a href=""><%= @queen.country_name %></a></div>
        </div>

      </div>
    </div>



	

<!--
<div id="vk_comments"></div>
<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {
    limit: 100,
    width: "397",
    attach: "*",
    onChange: function(){
        VKQ.updateWindow();
    },
    "<%= "show_#{@queen._id}"%>"
});
</script>

  </div>
  Put this div tag to the place, where the Comments block will be -->
</div>

