Ратинг
<div id="rating_<%= @queen._id %>" class="rating rate_text">
  <%= @queen.rating %>
</div>

Плюсов <%= @pluses %>

Голоса
<% @rates.each do |rate| %>
    <div class="photo">
      <%= ava_link rate.voter %>
    </div>
    <div class="name">
      <%= name_link rate.voter %>
    </div>
    <div class="name">
      <%= rate.value>0 ? "+" :"-" %>
    </div>
    <div class="name">
      <%= rate.created_at %>
    </div>
<% end %>


