<%= form_for(@achive) do |f| %>
  <% if @achive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@achive.errors.count, "error") %> prohibited this achive from being saved:</h2>

      <ul>
      <% @achive.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :icon %><br />
    <%= f.text_field :icon %>
  </div>
  <div class="field">
    <%= f.label :users_have %><br />
    <%= f.text_field :users_have %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
