<h1>Listing achives</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Icon</th>
    <th>Users have</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @achives.each do |achive| %>
  <tr>
    <td><%= achive.name %></td>
    <td><%= achive.description %></td>
    <td><%= achive.icon %></td>
    <td><%= achive.users_have %></td>
    <td><%= link_to 'Show', achive %></td>
    <td><%= link_to 'Edit', edit_achive_path(achive) %></td>
    <td><%= link_to 'Destroy', achive, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Achive', new_achive_path %>
