<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @achive.name %>
</p>

<p>
  <b>Description:</b>
  <%= @achive.description %>
</p>

<p>
  <b>Icon:</b>
  <%= @achive.icon %>
</p>

<p>
  <b>Users have:</b>
  <%= @achive.users_have %>
</p>


<%= link_to 'Edit', edit_achive_path(@achive) %> |
<%= link_to 'Back', achives_path %>
