<!DOCTYPE html>
<html>
<head>
  <title>Vkq</title>
  <%= javascript_include_tag "http://vkontakte.ru/js/api/xd_connection.js?2" %>
  <script type="text/javascript">
      server = {
          api_id: <%= VKQ_CONFIG["app_id"] %>,
          update_profile: <%= @update_profile.to_json %>,
          current_queen: <%= raw @current_queen.to_json :except => :salt %>
      };
  </script>
  <%= stylesheet_link_tag :all, :recursive => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>


</head>
<body>
<div class="fixed" id="box_layer_bg"></div>
<div class="scroll_fix_wrap fixed" id="box_layer_wrap">
  <div id="box_layer">
    <div id="box_loader">
      <div class="loader"></div>
      <div class="back"></div>
    </div>
  </div>
</div>

<div id="page">
  <div style="left: 417.5px; margin-top: 98.3333px; display:none" class="top_result_baloon_wrap fixed">
    <div style="opacity: 1;" class="top_result_baloon">
    </div>
  </div>
  <div id="header_wrap2">
    <div id="header_wrap1">
      <div id="header">
        <h1 id="title">
          <%= name_link @current_queen %>
          <b> (<b class="rating_<%= @current_queen.id %>"><%= @current_queen.rating %></b>)</b>
        </h1>
        <% if controller.action_name != "list" %>
            <a href="/queens" class="top_nav_link">К списку участников</a>
        <% end %>
        <a href="http://vkontakte.ru/mondarinka" class="rules">Правила</a>
        <div id="call_friend" class="button_blue">
          <button type="button">
            Позвать друга
          </button>
        </div>
      </div>
    </div>
  </div>
  <%= yield %>
</div>
</body>
</html>
